<!-- About Section begins here -->
<section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Experience I Am My Sister's Keeper</h2>
          <p class="text-white-50">I Am My Sister’s Keeper provides leadership development, rites of passage and entrepreneurial skills training for
            girls ages 12-18. We focus on enhancing the emotional well-being of girls, while empowering them to build and
            grow a sisterhood; sustaining them a life time. These life tools will assist participants with understanding
            the importance of their strengths and how to positively impact their fellow sister and community. MSK has been
            recognized by the Delaware House of Representatives and Wilmington City Council with resolutions honoring the
            organization and our Founder for the renowned work we do in the community, particularly on behalf of women and
            girls. New Castle County Executive Matthew Meyer proclaimed June 1, 2019 as I Am My Sister's Keeper Day!</p>
        </div>
      </div>
      <!--<img src="img/ipad.png" class="img-fluid" alt="">-->
    </div>
  </section>
  <!-- About Section ends here -->
  <!-- ------------------------------------------------------------------------ -->
